<div class="user-show-page">
  <div class="profile mt-4">
   <% if @user.profile_image.url.nil? %>
   <div class="profile-default-img"></div>
    <% else %>
     <%= image_tag @user.profile_image.url, class: "profile-img" %>
    <% end %>
     <div class="profile-name mt-4">
      <%= @user.name %>
     </div>

     <div class="profile-text">
      <%= @user.self_introduction %>
     </div>
  </div>
<script src="https://kit.fontawesome.com/fcd80f662a.js" crossorigin="anonymous"></script>

  <% if current_user.id == @user.id %>
   <div class="user-action">
    <div class="user-action-common">
     <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fas fa-sign-out-alt fa-2x"></i>
     <% end %>
     <span>ログアウト</span>
    </div>
    <div class="user-action-common">
     <%= link_to edit_user_registration_path do %>
      <i class="fas fa-pencil-alt fa-2x"></i>
     <% end %>
       <span>情報を編集<span>
     </div>
    </div>
  <% end %>












  <div class="follower">
      <%= link_to followers_user_path(current_user) do %>

          <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
      <% end %>
  </div>
  <div class="follow">
      <%= link_to following_user_path(current_user) do %>
                <h5 style="color: black;">フォロー<%= @user.following.count %>人</h5>
      <% end %>
  </div>
  <div>


<!-- フォローボタン(ユーザーがcurrent_userでなければ表示--->
  <% if user_signed_in? && @user != current_user %>
  <div id="follow_form">
    <% if current_user.following?(@user) %>
<!-- フォロー解除ボタン ---------------------->
<%= form_for(current_user, url: relationship_path(@user), method: :delete, remote: true) do |f| %>
  <%= f.submit "フォロー解除", class: "btn btn-outline-secondary" %>
<% end %>



    <% else %>
<!-- フォローボタン --------------------------->
<%= form_for(current_user, url: relationships_path, method: :post, remote: true) do |f| %>
  <%= hidden_field_tag :following_id, @user.id %>
  <%= f.submit "フォローする", class: "btn btn-outline-secondary" %>
<% end %>





    <% end %>
  </div>
<% end %>




  </div>
  </div>
