<div class="container left-side-content mordal-window">
 <h1>新規投稿</h1>
  <%= form_with model: @post, local:true do |f| %>
  <div class="post-body">

   <%= f.text_field :title,  class: 'form-control' ,placeholder: "タイトル", rows: "3" %>

  </div>

  <%= f.text_area :caption, class: 'form-control' , placeholder: "内容", rows: "3"%>
  <%= f.attachment_field :post_image%>

  <div class="buttons">
        <%= f.submit "投稿する", class: "btn btn-primary btn-block"%>
  </div>



    <% end %>
   </div>






<%= link_to 'Back', posts_path %>
