<h3>Posts</h3>

<table>
<thead>
<tr>
<th>title</th>
<th>body</th>
<th></th>
</tr>
</thead>

<tbody>
<% @posts.each do |post| %>

<tr>
<td>
<%= post.title %>
</td>
<td>
<%= post.caption %>
</td>
<td>


<%= attachment_image_tag post, :post_image %>


<%= link_to "show", post_path(post.id) %>



<% if current_user==post.contributer %>
      <hr>
      <%= link_to '投稿を取り消す', post, method: :delete, data:{confirm: "本当に取り消しますか"}, class:"btn btn-danger btn-block" %>
<% end %>


</td>
</tr>
<% end %>
</tbody>
</table>


<div class="container">
  <div class="row">
    <div class="col-md-4 none">
      user
    </div>
    <div class="user-contents col-md-8">
      <h4 class="sub-title"><%= @page_title %></h4>
      <ul class="user-posts">
        <% @posts.each do |post| %>
         <%= attachment_image_tag post, :post_image %>
        <% end %>
      </ul>

    </div>
  </div>
</div>