
<script src="https://kit.fontawesome.com/fcd80f662a.js" crossorigin="anonymous"></script>



<% @posts.each do |post| %>
  <div class="col-md-6 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card">
        <div class="card-header align-items-center d-flex">


         <%= link_to user_path(post.user), class: "no-text-decoration" do %>
          <% if post.user.profile_image.url.nil? %>
          <div class="default_profile_img"></div>
          <% else %>
           <%= image_tag post.user.profile_image.url, class: "avatar avatar-size48" %>
           <% end %>
         <% end %>



          <%= link_to user_path(post.user), class: "black-color no-text-decoration",title: post.user.name do %>
           <strong><%= post.user.name %></strong>
          <% end %>
          <strong><%= post.title %></strong>
        </div>
　　　　<div class="center">
         <%= attachment_image_tag post, :post_image , size:'300x300'%>
        </div>

        <div class="card-body">
          <div class="row parts">


            <%# ==========いいねここから========== %>
            <div id="like-icon-post-<%= post.id.to_s %>">
            <%= render "like_icon", { post: post } %>
            </div>
            <%# ==========いいねここまで========== %>



           <%= link_to "", "#", class: "comment" %>
          </div>



          <div id="like-text-post-<%= post.id.to_s %>">
            <%= render "like_text", { likes: post.likes } %>
          </div>





          <div>

            <span><%= post.caption %></span>





            <div id="comment-post-<%= post.id.to_s %>">
              <%= render 'comment_list', { post: post } %>
            </div>
            <%= link_to time_ago_in_words(post.created_at).upcase + "前", post_path(post),
              class: "light-color post-time no-text-decoration" %>
            <hr>
            <div class="row actions" id="comment-form-post-<%= post.id.to_s %>">
              <%= form_with model: [post, Comment.new], class: "w-100" do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :post_id, value: post.id %>
                <%= f.text_field :comment, class: "form-control comment-input border-0", placeholder: "コメント ...", autocomplete: :off %>
                <%= f.submit "送信", class: "btn btn-outline-dark comment-submit float-right" %>
              <% end %>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


