



<div class="post-card">
  <% @posts.each do |post| %>
    <div class="card">
      <div class="stream-item">
        <div class="content">
          <div class="stream-item-header">
            <%= image_tag current_user.profile_photo, class: "avatar avatar-size48" %>

            <div class="user-profile-link">
              <%= link_to "@" + "#{post.user.name}", "#", class: "name" %>
            </div>
            <div class="time">
              ・<%= time_ago_in_words(post.created_at) %>
            </div>
          </div>
          <div class="post-text">
            <%= safe_join(post.title.split("\n"), tag(:br)) %>
            <%= link_to "show", post_path(post.id) %></br>
            <%= safe_join(post.caption.split("\n"), tag(:br)) %>




<div class="btn-group btn-group-sm">
  <% if current_user==post.contributer %>
      <hr>
      <%= link_to '投稿を取り消す', post, method: :delete, data:{confirm: "本当に取り消しますか"}, class:"btn btn-danger btn-block" %>
<% end %>
</div>




</br>
<%= attachment_image_tag post, :post_image %>




          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>















<% @posts.each do |post| %>
  <div class="col-md-6 col-md-2 mx-auto">
    <div class="card-wrap">
      <div class="card">
        <div class="card-header align-items-center d-flex">





         <%= link_to user_path(post.user), class: "no-text-decoration" do %>
           <% if current_user.profile_image.url.nil? %>
             <div class="default_profile_img"></div>
           <% else %>
             <%= image_tag current_user.profile_image.url, class: "avatar avatar-size48" %>
           <% end %>
         <% end %>


          <%= link_to user_path(post.user), class: "black-color no-text-decoration",
            title: post.user.name do %>
            　<strong><%= post.user.name %></strong>
          <% end %>
        </div>

        <%= attachment_image_tag post, :post_image %>

        <div class="card-body">
          <div class="row parts">
            <%= link_to "", "#", class: "love" %>
            <%= link_to "", "#", class: "comment" %>
          </div>
          <div><strong>「いいね！」10件</strong></div>
          <div>
            <span><strong><%= post.user.name %></strong></span>
            <span><%= post.caption %></span>
            <%= link_to time_ago_in_words(post.created_at).upcase + "前", "#", class: "post-time no-text-decoration" %>
            <hr>
            <div class="row parts">
              <form action="#" class="w-100">
                <div>
                  <textarea class="form-control comment-input border-0" placeholder="コメント..." rows="1"></textarea>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>


